@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&display=swap');

body{
      font-family: "Oswald", sans-serif;
      
}
h1,h2{
   text-align: center;
}

img{
    margin: auto;
    display: block;
    border-radius: 50%;
    width: 400px;
    height: 400px;
    object-fit: cover;
    transition: all 0.5s ease;

}
img:hover{
    transform: scale(1.1);
    
}
p{
    text-align: center;
    background: teal;
    width:50%;
    margin: auto;
    fond: size 22px;
    padding: 20px;
    border-radius:8px

}
h3{
    width:80%;
    margin: auto;
    background: #F0F0F0;

    

}
ul,ol{
    width: 80%;
    margin: auto;
    padding: 20px;
}
ol{
    background: #918f8f;
}
